<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DT-Labs | Patients | Modern Integrated Laboratory Information System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Modern Integrated Laboratory Information System">
    <meta name="keywords" content="dt-labs, laboratory, laboratory information system, web app, desktop app">
    <meta name="author" content="DataGlow">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <!-- Apple Icon -->
    <link rel="apple-touch-icon" href="/static/img/apple-icon.png">

    <!-- Theme Config Js -->
    <script src="/static/js/theme-script.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="/static/plugins/flatpickr/flatpickr.min.css">

    <!-- Choices CSS -->
    <link rel="stylesheet" href="/static/plugins/choices.js/public//static/styles/choices.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="/static/plugins/select2/css/select2.min.css">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="/static/plugins/tabler-icons/tabler-icons.min.css">

    <!-- Simplebar CSS -->
    <link rel="stylesheet" href="/static/plugins/simplebar/simplebar.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/static/css/style.css" id="app-style">

</head>

<body>

    <!-- Begin Wrapper -->
    <div class="main-wrapper">

        <!-- Topbar Start -->
        <header class="navbar-header">
            <div class="page-container topbar-menu">
                <div class="d-flex align-items-center gap-2">

                    <!-- Logo -->
                    <a href="index.html" class="logo">

                        <!-- Logo Normal -->
                        <span class="logo-light">
                            <span class="logo-lg"><img src="/static/img/logo.svg" alt="logo"></span>
                            <span class="logo-sm"><img src="/static/img/logo-small.svg" alt="small logo"></span>
                        </span>

                        <!-- Logo Dark -->
                        <span class="logo-dark">
                            <span class="logo-lg"><img src="/static/img/logo-white.svg" alt="dark logo"></span>
                        </span>
                    </a>

                    <!-- Sidebar Mobile Button -->
                    <a id="mobile_btn" class="mobile-btn" href="#sidebar">
                        <i class="ti ti-menu-deep fs-24"></i>
                    </a>

                    <button class="sidenav-toggle-btn btn border-0 p-0 active" id="toggle_btn2">
                        <i class="ti ti-arrow-bar-to-right"></i>
                    </button>

                    <!-- Search -->
                    <div class="me-auto d-flex align-items-center header-search d-lg-flex d-none">
                        <!-- Search -->
                        <div class="input-icon position-relative me-2">
                           <input type="text" class="form-control" placeholder="Search Keyword">
                           <span class="input-icon-addon d-inline-flex p-0 header-search-icon"><i class="ti ti-command"></i></span>
                        </div>
                        <!-- /Search -->
                    </div>

                </div>

                <div class="d-flex align-items-center">

                    <!-- Search for Mobile -->
                    <div class="header-item d-flex d-lg-none me-2">
                        <button class="topbar-link btn" data-bs-toggle="modal" data-bs-target="#searchModal" type="button">
                            <i class="ti ti-search fs-16"></i>
                        </button>
                    </div>

                    <!-- pages -->
                    <div class="header-item">
                        <div class="dropdown me-2">
                            <a href="javascript:void(0);" class="btn topbar-link dropdown-toggle drop-arrow-none" data-bs-toggle="dropdown" data-bs-offset="0,22" aria-haspopup="false" aria-expanded="false"><i class="ti ti-list-details"></i></a>

                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-md p-2">

                                <!-- Item-->
                                <a href="all-appointments.html" class="dropdown-item">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <span class="d-flex mb-1 fw-semibold text-dark">Appointments</span>
                                            <span class="fs-13">View All the Appointments</span>
                                        </div>
                                        <i class="ti ti-chevron-right-pipe text-dark"></i>
                                    </div>
                                </a>

                                <!-- Item-->
                                <!-- <a href="all-doctors.html" class="dropdown-item">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <span class="d-flex mb-1 fw-semibold text-dark">Lab Technicians</span>
                                            <span class="fs-13">View All the Doctors</span>
                                        </div>
                                        <i class="ti ti-chevron-right-pipe text-dark"></i>
                                    </div>
                                </a> -->

                                <!-- Item-->
                                <a href="add-patient.html" class="dropdown-item">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <span class="d-flex mb-1 fw-semibold text-dark">New Patient</span>
                                            <span class="fs-13">Add New Patient</span>
                                        </div>
                                        <i class="ti ti-chevron-right-pipe text-dark"></i>
                                    </div>
                                </a>

                                <!-- Item-->
                                <a href="pharmacy.html" class="dropdown-item">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <span class="d-flex mb-1 fw-semibold text-dark">Pharmacy</span>
                                            <span class="fs-13">View All the Medicines</span>
                                        </div>
                                        <i class="ti ti-chevron-right-pipe text-dark"></i>
                                    </div>
                                </a>

                            </div>

                        </div>
                    </div>

                    <!-- Minimize -->
                    <div class="header-item">
                        <div class="dropdown me-2">
                            <a href="javascript:void(0);" class="btn topbar-link btnFullscreen"><i class="ti ti-minimize"></i></a>
                        </div>
                    </div>
                    <!-- Minimize -->

                    <!-- Language Dropdown -->
					<div class="header-item">
						<div class="dropdown me-2">
                            <button class="topbar-link btn" data-bs-toggle="dropdown" data-bs-offset="0,24" type="button" aria-haspopup="false" aria-expanded="false">
                                <img src="/static/img/flags/us.svg" alt="Language" height="16">
                            </button>

							<div class="dropdown-menu dropdown-menu-end p-2">
                                <!-- item-->
								<a href="javascript:void(0);" class="dropdown-item">
									<img src="/static/img/flags/us.svg" alt="" class="me-1" height="16"> <span class="align-middle">English</span>
								</a>

                                <!-- item-->
								<a href="javascript:void(0);" class="dropdown-item">
									<img src="/static/img/flags/de.svg" alt="" class="me-1" height="16"> <span class="align-middle">German</span>
								</a>

                                <!-- item-->
								<a href="javascript:void(0);" class="dropdown-item">
									<img src="/static/img/flags/fr.svg" alt="" class="me-1" height="16"> <span class="align-middle">French</span>
								</a>

                                <!-- item-->
								<a href="javascript:void(0);" class="dropdown-item">
									<img src="/static/img/flags/ae.svg" alt="" class="me-1" height="16"> <span class="align-middle">Arabic</span>
								</a>

							</div>
						</div>
                    </div>

					<!-- Notification Dropdown -->
                    <div class="header-item">
						<div class="dropdown me-2">

							<button class="topbar-link btn topbar-link dropdown-toggle drop-arrow-none" data-bs-toggle="dropdown" data-bs-offset="0,24" type="button" aria-haspopup="false" aria-expanded="false">
								<i class="ti ti-bell-check fs-16 animate-ring"></i>
								<span class="notification-badge"></span>
							</button>

							<div class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-lg" style="min-height: 300px;">

								<div class="p-2 border-bottom">
									<div class="row align-items-center">
										<div class="col">
											<h6 class="m-0 fs-16 fw-semibold"> Notifications</h6>
										</div>
									</div>
								</div>

								<!-- Notification Body -->
								<div class="notification-body position-relative z-2 rounded-0" data-simplebar="">

									<!-- Item-->
									<div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-1">
										<div class="d-flex">
											<div class="me-2 position-relative flex-shrink-0">
												<img src="/static/img/users/user-01.jpg" class="avatar-md rounded-circle" alt="">
											</div>
											<div class="flex-grow-1">
												<p class="mb-0 fw-medium text-dark">John Doe</p>
												<p class="mb-1 text-wrap">
													added new  patient <span class="fw-medium text-dark">appointment booking.</span>
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<span class="fs-12"><i class="ti ti-clock me-1"></i>4 min ago</span>
													<div class="notification-action d-flex align-items-center float-end gap-2">
														<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
														<button class="btn rounded-circle p-0" data-dismissible="#notification-1">
															<i class="ti ti-x"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- Item-->
									<div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-2">
										<div class="d-flex">
											<div class="me-2 position-relative flex-shrink-0">
												<img src="/static/img/users/user-12.jpg" class="avatar-md rounded-circle" alt="">
											</div>
											<div class="flex-grow-1">
												<p class="mb-0 fw-medium text-dark">Thomas William</p>
												<p class="mb-1 text-wrap">
                                                    booked a new appointment
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<span class="fs-12"><i class="ti ti-clock me-1"></i>8 min ago</span>
													<div class="notification-action d-flex align-items-center float-end gap-2">
														<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
														<button class="btn rounded-circle p-0" data-dismissible="#notification-2">
															<i class="ti ti-x"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- Item-->
									<div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-3">
										<div class="d-flex">
											<div class="me-2 position-relative flex-shrink-0">
												<img src="/static/img/profiles/avatar-12.jpg" class="avatar-md rounded-circle" alt="">
											</div>
											<div class="flex-grow-1">
												<p class="mb-0 fw-medium text-dark">Sarah Anderson</p>
												<p class="mb-1 text-wrap">
                                                    has been successfully booked for <span class="fw-medium text-dark">April 5 at 10:00 AM.</span>
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<span class="fs-12"><i class="ti ti-clock me-1"></i>15 min ago</span>
													<div class="notification-action d-flex align-items-center float-end gap-2">
														<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
														<button class="btn rounded-circle p-0" data-dismissible="#notification-3">
															<i class="ti ti-x"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- Item-->
									<div class="dropdown-item notification-item py-3 text-wrap" id="notification-4">
										<div class="d-flex">
											<div class="me-2 position-relative flex-shrink-0">
												<img src="/static/img/profiles/avatar-08.jpg" class="avatar-md rounded-circle" alt="">
											</div>
											<div class="flex-grow-1">
												<p class="mb-0 fw-medium text-dark">Ann McClure</p>
												<p class="mb-1 text-wrap">
                                                    cancelled her appointment scheduled for <span class="fw-medium text-dark">February 5, 2024</span>
												</p>
												<div class="d-flex justify-content-between align-items-center">
													<span class="fs-12"><i class="ti ti-clock me-1"></i>20 min ago</span>
													<div class="notification-action d-flex align-items-center float-end gap-2">
														<a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
														<button class="btn rounded-circle p-0" data-dismissible="#notification-4">
															<i class="ti ti-x"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>

								<!-- View All-->
								<div class="p-2 rounded-bottom border-top text-center">
									<a href="notifications.html" class="text-center text-decoration-underline fs-14 mb-0">
										View All Notifications
									</a>
								</div>

							</div>
						</div>
					</div>

                    <!-- Light/Dark Mode Button -->
                    <div class="header-item d-none d-sm-flex me-2">
                        <button class="topbar-link btn topbar-link" id="light-dark-mode" type="button">
                            <i class="ti ti-moon fs-16"></i>
                        </button>
                    </div>

					<!-- User Dropdown -->
					<div class="dropdown profile-dropdown d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0);" class="topbar-link dropdown-toggle drop-arrow-none position-relative" data-bs-toggle="dropdown" data-bs-offset="0,22" aria-haspopup="false" aria-expanded="false">
                            <img src="/static/img/users/avatar-5.jpg" width="32" class="rounded-2 d-flex" alt="user-image">
                            <span class="online text-success"><i class="ti ti-circle-filled d-flex bg-white rounded-circle border border-1 border-white"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-md p-2">

                            <div class="d-flex align-items-center bg-light rounded-3 p-2 mb-2">
                                <img src="/static/img/users/avatar-5.jpg" class="rounded-circle" width="42" height="42" alt="">
                                <div class="ms-2">
                                    <p class="fw-medium text-dark mb-0">Jimmy Anderson</p>
                                    <span class="d-block fs-13">Administrator</span>
                                </div>
                            </div>

                            <!-- Item-->
                            <a href="general-settings.html" class="dropdown-item">
                                <i class="ti ti-user-circle me-1 align-middle"></i>
                                <span class="align-middle">Profile Settings</span>
                            </a>

                            <!-- item -->
                            <div class="form-check form-switch form-check-reverse d-flex align-items-center justify-content-between dropdown-item mb-0">
                                <label class="form-check-label" for="notify"><i class="ti ti-bell"></i>Notifications</label>
                                <input class="form-check-input me-0" type="checkbox" role="switch" id="notify">
                            </div>

                            <!-- Item-->
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="ti ti-help-circle me-1 align-middle"></i>
                                <span class="align-middle">Help & Support</span>
                            </a>

                            <!-- Item-->
                            <a href="general-settings.html" class="dropdown-item">
                                <i class="ti ti-settings me-1 align-middle"></i>
                                <span class="align-middle">Settings</span>
                            </a>

                            <!-- Item-->
                            <div class="pt-2 mt-2 border-top">
                                <a href="login.html" class="dropdown-item text-danger">
                                    <i class="ti ti-logout me-1 fs-17 align-middle"></i>
                                    <span class="align-middle">Sign Out</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- Topbar End -->

        <!-- Search Modal -->
        <div class="modal fade" id="searchModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content bg-transparent">
                    <div class="card shadow-none mb-0">
                        <div class="px-3 py-2 d-flex flex-row align-items-center" id="search-top">
                            <i class="ti ti-search fs-22"></i>
                            <input type="search" class="form-control border-0" placeholder="Search">
                            <button type="button" class="btn p-0" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-x fs-22"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sidenav Menu Start -->
        {% include "partials/sidebar.html" %}
        <!-- Sidenav Menu End -->

        <!-- ========================
			Start Page Content
		========================= -->

        <div class="page-wrapper">

            <!-- Start Content -->
            <div class="content">

                <!-- Page Header -->
                <div class="d-flex align-items-center justify-content-between gap-2 mb-4 flex-wrap">
                    <div class="breadcrumb-arrow">
                        <h4 class="mb-1">Patients</h4>
                        <div class="text-end">
                            <ol class="breadcrumb m-0 py-0">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active">Patients</li>
                            </ol>
                        </div>
                    </div>
                    <div class="gap-2 d-flex align-items-center flex-wrap">
                        <a href="all-patients.html" class="btn btn-icon btn-outline-light active" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Grid" data-bs-original-title="Grid View"><i class="ti ti-layout-grid"></i></a>
                        <a href="all-patients-list.html" class="btn btn-icon btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="List" data-bs-original-title="List View"><i class="ti ti-layout-list"></i></a>
                        <a href="javascript:void(0);" class="btn btn-icon btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Refresh" data-bs-original-title="Refresh"><i class="ti ti-refresh"></i></a>
                        <a href="add-patient.html" class="btn btn-primary"><i class="ti ti-square-rounded-plus me-1"></i>Add New Patient</a>
                    </div>
                </div>
				<!-- End Page Header -->

                <!-- row start -->
                <div class="row justify-content-center">

                    {% for patient in patients %}
                    <!-- col start -->
                    <div class="col-xl-4 col-md-6 d-flex">
                        <div class="card shadow flex-fill w-100">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between mb-3">
                                    <span class="badge badge-md badge-soft-warning text-warning border border-warning">Out Patient</span>
                                    <a href="javascript:void(0);" class="btn btn-icon btn-sm btn-outline-light" data-bs-toggle="dropdown"><i class="ti ti-dots-vertical"></i></a>
                                    <ul class="dropdown-menu p-2">
                                        <li>
                                            <a href="patient-details.html" class="dropdown-item d-flex align-items-center"><i class="ti ti-eye me-1"></i>View Details</a>
                                        </li>
                                        <li>
                                            <a href="edit-patient.html" class="dropdown-item d-flex align-items-center"><i class="ti ti-edit me-1"></i>Edit</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="ti ti-trash me-1"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="text-center mb-3">
                                    <span class="avatar avatar-xl me-2 avatar-rounded">
									  <a href="patient-details.html"><img src="/static/img/users/avatar-5.jpg" alt="img"></a>
								    </span>
                                    <p class="mt-2 mb-1">#PT0025</p>
                                    <h6 class="mb-0"><a href="patient-details.html">James Carter</a></h6>
                                </div>
                                <div class="border p-1 px-2 rounded mb-3">
                                     <div class="row">
                                        <div class="col-4 text-center py-2 border-end px-1">
                                            <h6 class="fw-semibold fs-14 text-truncate">Last Visit</h6>
                                            <p class="fs-13 mb-0">17 Jun 2025</p>
                                        </div>
                                        <div class="col-4 text-center py-2 border-end px-1">
                                            <h6 class="fw-semibold fs-14 text-truncate">Gender</h6>
                                            <p class="fs-13 mb-0">Male</p>
                                        </div>
                                        <div class="col-4 text-center py-2 px-1">
                                            <h6 class="fw-semibold fs-14 text-truncate">Location</h6>
                                            <p class="fs-13 mb-0">California</p>
                                        </div>
                                     </div>
                                </div>
                                <a href="javascript:void(0);" class="btn btn-dark w-100" data-bs-toggle="modal" data-bs-target="#add_modal">Add Appointment</a>
                            </div>
                        </div>
                    </div>
                    <!-- col end -->
                    {% endfor %}

                </div>
                <!-- row start -->

                <div class="text-center">
                    <a href="javascript:void(0);" class="btn btn-sm btn-primary d-inline-flex align-items-center"><i class="ti ti-loader-2 me-1"></i>Load More Patients</a>
                </div>

            </div>
            <!-- End Content -->

            <!-- Start Footer -->
            <footer class="footer d-block d-md-flex justify-content-between text-md-start text-center">
                <p class="mb-0 text-dark">
                    <script data-cfasync="false" src="/static/cdn-cgi/scripts/email-decode.min.js"></script>
                    <script type="b21c265bdeecc6d171de6766-text/javascript">document.write(new Date().getFullYear())</script>
                    &copy; <a href="mailto:info@dataglow.tech" class="link-primary">DataGlow</a> All Rights Reserved
                </p>
                <p class="mb-0 text-dark">Design & Developed by DataGlow Technologies</p>
            </footer>
            <!-- End Footer -->

        </div>

        <!-- ========================
			End Page Content
		========================= -->

    </div>
    <!-- End Wrapper -->


    <!-- Start add Modal -->
    <div id="add_modal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header justify-content-between">
                    <h4 class="text-dark modal-title fw-bold text-truncate">New Appointment</h4>
                    <button type="button" class="btn-close btn-close-modal" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled"></i></button>
                </div>
                <form action="all-patients.html">
                    <div class="modal-body pb-0">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Select Patient</label>
                                    <select class="select">
                                        <option>Select</option>
                                        <option>James Carter</option>
                                        <option>Emily Davis</option>
                                        <option>Michael Johnson</option>
                                        <option>Olivia Miller</option>
                                        <option>David Smith</option>
                                        <option>Sophia Wilson</option>
                                        <option>Daniel Williams</option>
                                        <option>Isabella Anderson</option>
                                        <option>William Brown</option>
                                        <option>Charlotte Taylor</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Patient Type</label>
                                    <select class="select">
                                        <option>Select</option>
                                        <option>In Patient</option>
                                        <option>Out Patient</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Select Department<span class="text-danger ms-1">*</span></label>
                                    <select class="select">
                                        <option>Select</option>
                                        <option value="BACTERIOLOGY - CULTURES">BACTERIOLOGY (CULTURES)</option>
                                        <option value="ULTRASOUND SCAN">ULTRASOUND SCAN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Select Doctor<span class="text-danger ms-1">*</span></label>
                                    <select class="select">
                                        <option>Select</option>
                                        <option>Dr. Andrew Clark</option>
                                        <option>Dr. Katherine Brooks</option>
                                        <option>Dr. Benjamin Harris</option>
                                        <option>Dr. Laura Mitchell</option>
                                        <option>Dr. Christopher Lewis</option>
                                        <option>Dr. Natalie Foster</option>
                                        <option>Dr. Jonathan Adams</option>
                                        <option>Dr. Rebecca Scott</option>
                                        <option>Dr. Samuel Turner</option>
                                        <option>Dr. Victoria Evans</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label">Preffered Mode of Consultation<span class="text-danger ms-1">*</span></label>
                                    <select class="select">
                                        <option>Select</option>
                                        <option>In-Person</option>
                                        <option>Video</option>
                                        <option>Phone</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Date</label>
                                    <div class="input-group w-auto input-group-flat">
                                        <input type="text" class="form-control" data-provider="flatpickr" data-date-format="d M, Y">
                                        <span class="input-group-text">
                                            <i class="ti ti-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">Start Time</label>
                                    <div class="input-icon-end position-relative">
                                        <input type="text" class="form-control form-control" data-provider="timepickr" data-time-basic="true" placeholder="-- : -- : --">
                                        <span class="input-icon-addon">
                                            <i class="ti ti-clock-hour-10 text-dark"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3">
                                    <label class="form-label">End Time</label>
                                    <div class="input-icon-end position-relative">
                                        <input type="text" class="form-control form-control" data-provider="timepickr" data-time-basic="true" placeholder="-- : -- : --">
                                        <span class="input-icon-addon">
                                            <i class="ti ti-clock-hour-10 text-dark"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label">Reason</label>
                                    <input class="input-tags form-control border-0 h-100" data-choices="" data-choices-limit="infinite" data-choices-removeitem="" type="text">
                                    <p class="fs-13 mb-0 mt-1">Enter value separated by comma</p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label">Quick Notes</label>
                                    <textarea class="form-control" placeholder="Additional Information" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label">Mode of Payment</label>
                                    <select class="select">
                                        <option>Select</option>
                                        <option>Cash</option>
                                        <option>Paytm</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex align-items-center gap-1">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add Appointment</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End add Modal -->

    <!-- Start Delete Modal  -->
    <div class="modal fade" id="delete_modal">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center position-relative">
                    <div class="mb-3 position-relative z-1">
                        <span class="avatar avatar-xl badge-soft-danger text-danger rounded-circle"><i class="ti ti-trash fs-24"></i></span>
                    </div>
                    <h5 class="mb-1">Delete Confirmation</h5>
                    <p class="mb-3">Are you sure you want to delete?</p>
                    <div class="d-flex justify-content-center">
                        <a href="javascript:void(0);" class="btn btn-light position-relative z-1 me-2" data-bs-dismiss="modal">Cancel</a>
                        <a href="patient-details.html" class="btn btn-danger position-relative z-1" data-bs-dismiss="modal">Yes, Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Delete Modal  -->

    <!-- jQuery -->
    <script src="/static/js/jquery-3.7.1.min.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>

    <!-- Bootstrap Core JS -->
    <script src="/static/js/bootstrap.bundle.min.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>

    <!-- Choices Js -->
    <script src="/static/plugins/choices.js/public//static/scripts/choices.min.js" type="8f0999bbfee084d8a7582bc8-text/javascript"></script>

    <!-- Flatpickr JS -->
    <script src="/static/plugins/flatpickr/flatpickr.min.js" type="8f0999bbfee084d8a7582bc8-text/javascript"></script>

    <!-- Select2 JS -->
    <script src="/static/plugins/select2/js/select2.min.js" type="8f0999bbfee084d8a7582bc8-text/javascript"></script>

	<!-- Simplebar JS -->
	<script src="/static/plugins/simplebar/simplebar.min.js" type="8f0999bbfee084d8a7582bc8-text/javascript"></script>

    <!-- Main JS -->
    <script src="/static/js/script.js" type="8f0999bbfee084d8a7582bc8-text/javascript"></script>

<script src="/static/cdn-cgi/scripts/rocket-loader.min.js" data-cf-settings="09e0d2b48ab211936e55812e-|49" defer=""></script>
<script defer="" src="/static/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"version":"2024.11.0","token":"3ca157e612a14eccbb30cf6db6691c29","server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>
</body>

</html>