<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}DT-Labs | LIS{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Modern Integrated Laboratory Information System">
    <meta name="author" content="DataGlow Technologies">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <!-- Apple Icon -->
    <link rel="apple-touch-icon" href="/static/img/apple-icon.png">

    <!-- Theme Config Js -->
    <script src="/static/js/theme-script.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="/static/plugins/flatpickr/flatpickr.min.css">

    <!-- Choices CSS -->
    <link rel="stylesheet" href="/static/plugins/choices.js/public//static/styles/choices.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="/static/plugins/select2/css/select2.min.css">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="/static/plugins/tabler-icons/tabler-icons.min.css">

    <!-- Daterangepikcer CSS -->
	<link rel="stylesheet" href="/static/plugins/daterangepicker/daterangepicker.css">

    <!-- Simplebar CSS -->
    <link rel="stylesheet" href="/static/plugins/simplebar/simplebar.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/static/css/style.css" id="app-style">

    {% block extra_css %}{% endblock %}

</head>
<body>
    <!-- ===== MAIN CONTENT ===== -->
    <main>
        {% block content %}
            <!-- ===== HEADER (Optional) ===== -->
            {% block header %}
                <!-- Topbar Start -->
                <header class="navbar-header">
                    <div class="page-container topbar-menu">
                        <div class="d-flex align-items-center gap-2">

                            <!-- Logo -->
                            <a href="{{ request.url_for('dashboard') }}" class="logo">

                                <!-- Logo Normal -->
                                <span class="logo-light">
                                    <span class="logo-lg"><img src="/static/img/logo.svg" alt="logo"></span>
                                    <span class="logo-sm"><img src="/static/img/logo-small.svg" alt="small logo"></span>
                                </span>

                                <!-- Logo Dark -->
                                <span class="logo-dark">
                                    <span class="logo-lg"><img src="/static/img/logo-white.svg" alt="dark logo"></span>
                                </span>
                            </a>

                            <!-- Sidebar Mobile Button -->
                            <a id="mobile_btn" class="mobile-btn" href="#sidebar">
                                <i class="ti ti-menu-deep fs-24"></i>
                            </a>

                            <button class="sidenav-toggle-btn btn border-0 p-0 active" id="toggle_btn2">
                                <i class="ti ti-arrow-bar-to-right"></i>
                            </button>

                            <!-- Search -->
                            <div class="me-auto d-flex align-items-center header-search d-lg-flex d-none">
                                <!-- Search -->
                                <div class="input-icon position-relative me-2">
                                <input type="text" class="form-control" placeholder="Search Keyword">
                                <span class="input-icon-addon d-inline-flex p-0 header-search-icon"><i class="ti ti-command"></i></span>
                                </div>
                                <!-- /Search -->
                            </div>

                        </div>

                        <div class="d-flex align-items-center">

                            <!-- Search for Mobile -->
                            <div class="header-item d-flex d-lg-none me-2">
                                <button class="topbar-link btn" data-bs-toggle="modal" data-bs-target="#searchModal" type="button">
                                    <i class="ti ti-search fs-16"></i>
                                </button>
                            </div>

                            <!-- Minimize -->
                            <div class="header-item">
                                <div class="dropdown me-2">
                                    <a href="javascript:void(0);" class="btn topbar-link btnFullscreen"><i class="ti ti-minimize"></i></a>
                                </div>
                            </div>
                            <!-- Minimize -->

                            <!-- Language Dropdown -->
                            <div class="header-item">
                                <div class="dropdown me-2">
                                    <button class="topbar-link btn" data-bs-toggle="dropdown" data-bs-offset="0,24" type="button" aria-haspopup="false" aria-expanded="false">
                                        <img src="/static/img/flags/us.svg" alt="Language" height="16">
                                    </button>

                                    <div class="dropdown-menu dropdown-menu-end p-2">
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <img src="/static/img/flags/us.svg" alt="" class="me-1" height="16"> <span class="align-middle">English</span>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <img src="/static/img/flags/de.svg" alt="" class="me-1" height="16"> <span class="align-middle">German</span>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <img src="/static/img/flags/fr.svg" alt="" class="me-1" height="16"> <span class="align-middle">French</span>
                                        </a>

                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <img src="/static/img/flags/ae.svg" alt="" class="me-1" height="16"> <span class="align-middle">Arabic</span>
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <!-- Notification Dropdown -->
                            <div class="header-item">
                                <div class="dropdown me-2">

                                    <button class="topbar-link btn topbar-link dropdown-toggle drop-arrow-none" data-bs-toggle="dropdown" data-bs-offset="0,24" type="button" aria-haspopup="false" aria-expanded="false">
                                        <i class="ti ti-bell-check fs-16 animate-ring"></i>
                                        <span class="notification-badge"></span>
                                    </button>

                                    <div class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-lg" style="min-height: 300px;">

                                        <div class="p-2 border-bottom">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    <h6 class="m-0 fs-16 fw-semibold"> Notifications</h6>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Notification Body -->
                                        <div class="notification-body position-relative z-2 rounded-0" data-simplebar="">

                                            <!-- Item-->
                                            <div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-1">
                                                <div class="d-flex">
                                                    <div class="me-2 position-relative flex-shrink-0">
                                                        <img src="/static/img/users/user-01.jpg" class="avatar-md rounded-circle" alt="">
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <p class="mb-0 fw-medium text-dark">John Doe</p>
                                                        <p class="mb-1 text-wrap">
                                                            added new  patient <span class="fw-medium text-dark">appointment booking.</span>
                                                        </p>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <span class="fs-12"><i class="ti ti-clock me-1"></i>4 min ago</span>
                                                            <div class="notification-action d-flex align-items-center float-end gap-2">
                                                                <a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
                                                                <button class="btn rounded-circle p-0" data-dismissible="#notification-1">
                                                                    <i class="ti ti-x"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Item-->
                                            <div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-2">
                                                <div class="d-flex">
                                                    <div class="me-2 position-relative flex-shrink-0">
                                                        <img src="/static/img/users/user-12.jpg" class="avatar-md rounded-circle" alt="">
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <p class="mb-0 fw-medium text-dark">Thomas William</p>
                                                        <p class="mb-1 text-wrap">
                                                            booked a new appointment
                                                        </p>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <span class="fs-12"><i class="ti ti-clock me-1"></i>8 min ago</span>
                                                            <div class="notification-action d-flex align-items-center float-end gap-2">
                                                                <a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
                                                                <button class="btn rounded-circle p-0" data-dismissible="#notification-2">
                                                                    <i class="ti ti-x"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Item-->
                                            <div class="dropdown-item notification-item py-3 text-wrap border-bottom" id="notification-3">
                                                <div class="d-flex">
                                                    <div class="me-2 position-relative flex-shrink-0">
                                                        <img src="/static/img/profiles/avatar-12.jpg" class="avatar-md rounded-circle" alt="">
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <p class="mb-0 fw-medium text-dark">Sarah Anderson</p>
                                                        <p class="mb-1 text-wrap">
                                                            has been successfully booked for <span class="fw-medium text-dark">April 5 at 10:00 AM.</span>
                                                        </p>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <span class="fs-12"><i class="ti ti-clock me-1"></i>15 min ago</span>
                                                            <div class="notification-action d-flex align-items-center float-end gap-2">
                                                                <a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
                                                                <button class="btn rounded-circle p-0" data-dismissible="#notification-3">
                                                                    <i class="ti ti-x"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Item-->
                                            <div class="dropdown-item notification-item py-3 text-wrap" id="notification-4">
                                                <div class="d-flex">
                                                    <div class="me-2 position-relative flex-shrink-0">
                                                        <img src="/static/img/profiles/avatar-08.jpg" class="avatar-md rounded-circle" alt="">
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <p class="mb-0 fw-medium text-dark">Ann McClure</p>
                                                        <p class="mb-1 text-wrap">
                                                            cancelled her appointment scheduled for <span class="fw-medium text-dark">February 5, 2024</span>
                                                        </p>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <span class="fs-12"><i class="ti ti-clock me-1"></i>20 min ago</span>
                                                            <div class="notification-action d-flex align-items-center float-end gap-2">
                                                                <a href="javascript:void(0);" class="notification-read rounded-circle bg-danger" data-bs-toggle="tooltip" title="" data-bs-original-title="Make as Read" aria-label="Make as Read"></a>
                                                                <button class="btn rounded-circle p-0" data-dismissible="#notification-4">
                                                                    <i class="ti ti-x"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <!-- View All-->
                                        <div class="p-2 rounded-bottom border-top text-center">
                                            <a href="notifications.html" class="text-center text-decoration-underline fs-14 mb-0">
                                                View All Notifications
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Light/Dark Mode Button -->
                            <div class="header-item d-none d-sm-flex me-2">
                                <button class="topbar-link btn topbar-link" id="light-dark-mode" type="button">
                                    <i class="ti ti-moon fs-16"></i>
                                </button>
                            </div>

                            <!-- User Dropdown -->
                            <div class="dropdown profile-dropdown d-flex align-items-center justify-content-center">
                                <a href="javascript:void(0);" class="topbar-link dropdown-toggle drop-arrow-none position-relative" data-bs-toggle="dropdown" data-bs-offset="0,22" aria-haspopup="false" aria-expanded="false">
                                    <img src="/static/img/users/avatar-5.jpg" width="32" class="rounded-2 d-flex" alt="user-image">
                                    <span class="online text-success"><i class="ti ti-circle-filled d-flex bg-white rounded-circle border border-1 border-white"></i></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-md p-2">

                                    <div class="d-flex align-items-center bg-light rounded-3 p-2 mb-2">
                                        <img src="/static/img/users/avatar-5.jpg" class="rounded-circle" width="42" height="42" alt="">
                                        <div class="ms-2">
                                            <p class="fw-medium text-dark mb-0">Jimmy Anderson</p>
                                            <span class="d-block fs-13">Administrator</span>
                                        </div>
                                    </div>

                                    <!-- Item-->
                                    <a href="general-settings.html" class="dropdown-item">
                                        <i class="ti ti-user-circle me-1 align-middle"></i>
                                        <span class="align-middle">Profile Settings</span>
                                    </a>

                                    <!-- item -->
                                    <a href="notifications.html" class="dropdown-item">
                                        <i class="ti ti-bell me-1 align-middle"></i>
                                        <span class="align-middle">Notifications</span>
                                    </a>

                                    <!-- Item-->
                                    <a href="javascript:void(0);" class="dropdown-item">
                                        <i class="ti ti-help-circle me-1 align-middle"></i>
                                        <span class="align-middle">Help & Support</span>
                                    </a>

                                    <!-- Item-->
                                    <a href="general-settings.html" class="dropdown-item">
                                        <i class="ti ti-settings me-1 align-middle"></i>
                                        <span class="align-middle">Settings</span>
                                    </a>

                                    <!-- Item-->
                                    <div class="pt-2 mt-2 border-top">
                                        <a href="login.html" class="dropdown-item text-danger">
                                            <i class="ti ti-logout me-1 fs-17 align-middle"></i>
                                            <span class="align-middle">Sign Out</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </header>
            {% endblock %}

            <!-- ===== FOOTER (Optional) ===== -->
            {% block footer %}
            <!-- Start Footer -->
                <footer class="footer d-block d-md-flex justify-content-between text-md-start text-center">
                    <p class="mb-0 text-dark"><script type="09e0d2b48ab211936e55812e-text/javascript">document.write(new Date().getFullYear())</script> &copy; <a href="javascript:void(0);" class="link-primary">DreamsEMR</a> All Rights Reserved</p>
                    <p class="mb-0 text-dark">Design & Developed by DataGlow Technologies</p>
                </footer>
                <!-- End Footer -->
            {% endblock %}

        {% endblock %}
    </main>



    <!-- JS -->
    <!-- jQuery -->
    <script src="/static/js/jquery-3.7.1.min.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>

    <!-- Bootstrap Core JS -->
    <script src="/static/js/bootstrap.bundle.min.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>

	<!-- Simplebar JS -->
	<script src="/static/plugins/simplebar/simplebar.min.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>

    <!-- Daterangepikcer JS -->
	<script src="/static/js/moment.min.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>
	<script src="/static/plugins/daterangepicker/daterangepicker.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>

    <!-- Choices Js -->
    <script src="/static/plugins/choices.js/public//static/scripts/choices.min.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>

    <!-- Flatpickr JS -->
    <script src="/static/plugins/flatpickr/flatpickr.min.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>

    <!-- Select2 JS -->
    <script src="/static/plugins/select2/js/select2.min.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>

    <!-- ApexChart JS -->
    <script src="/static/plugins/apexchart/apexcharts.min.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>
    <script src="/static/plugins/apexchart/chart-data.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>

    <!-- Main JS -->
    <script src="/static/js/script.js" type="09e0d2b48ab211936e55812e-text/javascript"></script>

<script src="/static/cdn-cgi/scripts/rocket-loader.min.js" data-cf-settings="09e0d2b48ab211936e55812e-|49" defer=""></script>
<script defer="" src="/static/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"version":"2024.11.0","token":"3ca157e612a14eccbb30cf6db6691c29","server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>

    {% block extra_js %}{% endblock %}

</body>
</html>
