{% extends "settings-base.html" %} {% block settings_title %}{{ title }}{%
endblock %} {% block settings_breadcrumb %}{{ title }}{% endblock %} {% block
settings_body %}
<div class="card">
  <div class="card-body">
    <h5 class="mb-2">{{ title }}</h5>
    <p class="text-muted mb-0">{{ message }}</p>
  </div>
</div>
<div>
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    id="add__template__btn"
  >
    Add Test Template
  </button>

  <p class="d-inline-flex gap-1">
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      View created Templates
    </button>
  </p>

  <div class="collapse show" id="collapseExample">
    <div class="card card-body">
      <table class="table table-striped-columns">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Test Name</th>
            <th scope="col">Action</th>
            <th scope="col">No</th>
          </tr>
        </thead>
        <tbody class="view__test__templates">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>
              <span class="mx-3"
                ><button type="button" class="btn btn-info">
                  Edit Template
                </button></span
              >

              <span
                ><button type="button" class="btn btn-outline-danger">
                  Delete
                </button></span
              >
            </td>
            <td>1</td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>
  

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Add Test Template
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- FORM START HERE -->

          <tbody id="template-fields-container"></tbody>

      <form id="test__add__form">
          <div class="row mb-4">
              <label class="col-sm-3 col-form-label fw-bold">Select Lab Test</label>
              <div class="col-sm-9">
                  <select id="test_id_select" class="form-select" required>
                      <option value="">-- Choose a Test (e.g. Full Blood Count) --</option>
                  </select>
              </div>
          </div>

          <h6 class="text-muted border-bottom pb-2">Test Parameters (Template Fields)</h6>
          
          <div id="dynamic-fields-container">
              </div>

          <!-- <div class="mt-3">
              <button type="button" class="btn btn-success" id="add-new-parameter-row">
                  + Add another Parameter
              </button>
          </div> -->
      </form>
          <!-- FORM ENDS HERE -->
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success" id="add-new-parameter-row">
                  + Add another Parameter
              </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary" id="submitForm">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %}

<script
  src="{{ url_for('static', path='js/utils/add-test-template.js') }}"
  defer
></script>
{% endblock %}
