 <!-- Topbar Start -->
        <header class="navbar-header">
            <div class="page-container topbar-menu">
                <div class="d-flex align-items-center gap-2">

                    <!-- Logo -->
                    <a href="/" class="logo">

                        <!-- Logo Normal -->
                        <span class="logo-light">
                            <span class="logo-lg"><img src="/static/img/logo.svg" alt="logo"></span>
                            <span class="logo-sm"><img src="/static/img/logo-small.svg" alt="small logo"></span>
                        </span>

                        <!-- Logo Dark -->
                        <span class="logo-dark">
                            <span class="logo-lg"><img src="/static/img/logo-white.svg" alt="dark logo"></span>
                        </span>
                    </a>

                    <!-- Sidebar Mobile Button -->
                    <a id="mobile_btn" class="mobile-btn" href="#sidebar">
                        <i class="ti ti-menu-deep fs-24"></i>
                    </a>

                    <button class="sidenav-toggle-btn btn border-0 p-0 active" id="toggle_btn2">
                        <i class="ti ti-arrow-bar-to-right"></i>
                    </button>

                   

                </div>

                <div class="d-flex align-items-center">

                    <!-- Search for Mobile -->
                    <!-- <div class="header-item d-flex d-lg-none me-2">
                        <button class="topbar-link btn" data-bs-toggle="modal" data-bs-target="#searchModal" type="button">
                            <i class="ti ti-search fs-16"></i>
                        </button>
                    </div> -->

                    <!-- pages -->
                    <div class="header-item">
                        <div class="dropdown me-2">
                            <a href="javascript:void(0);" class="btn topbar-link dropdown-toggle drop-arrow-none" data-bs-toggle="dropdown" data-bs-offset="0,22" aria-haspopup="false" aria-expanded="false"><i class="ti ti-list-details"></i></a>


                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-md p-2">

                                <!-- Item-->
                                <a href="{{ request.url_for('appointments') }}" class="dropdown-item">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <span class="d-flex mb-1 fw-semibold text-dark">Appointments</span>
                                            <span class="fs-13">View All the Appointments</span>
                                        </div>
                                        <i class="ti ti-chevron-right-pipe text-dark"></i>
                                    </div>
                                </a>

                                <!-- Item-->
                                <a href="{{ request.url_for('staff_list') }}"  class="dropdown-item">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <span class="d-flex mb-1 fw-semibold text-dark">Doctors</span>
                                            <span class="fs-13">View All the Doctors</span>
                                        </div>
                                        <i class="ti ti-chevron-right-pipe text-dark"></i>
                                    </div>
                                </a>

                                <!-- Item-->
                                <a href="{{ request.url_for('patient_add') }}" class="dropdown-item">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <span class="d-flex mb-1 fw-semibold text-dark">New Patient</span>
                                            <span class="fs-13">Add New Patient</span>
                                        </div>
                                        <i class="ti ti-chevron-right-pipe text-dark"></i>
                                    </div>
                                </a>

                                <!-- Item-->
                                <!-- <a href="pharmacy.html" class="dropdown-item">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            <span class="d-flex mb-1 fw-semibold text-dark">Pharmacy</span>
                                            <span class="fs-13">View All the Medicines</span>
                                        </div>
                                        <i class="ti ti-chevron-right-pipe text-dark"></i>
                                    </div>
                                </a> -->

                            </div>


                        </div>
                    </div>

                    <!-- Minimize -->
                    <div class="header-item">
                        <div class="dropdown me-2">
                            <a href="javascript:void(0);" class="btn topbar-link btnFullscreen"><i class="ti ti-minimize"></i></a>
                        </div>
                    </div>
                    <!-- Minimize -->
			
                    <!-- Light/Dark Mode Button -->
                    <div class="header-item d-none d-sm-flex me-2">
                        <button class="topbar-link btn topbar-link" id="light-dark-mode" type="button">
                            <i class="ti ti-moon fs-16"></i>
                        </button>
                    </div>

					<!-- User Dropdown -->
					<div class="dropdown profile-dropdown d-flex align-items-center justify-content-center">
                        <a href="javascript:void(0);" class="topbar-link dropdown-toggle drop-arrow-none position-relative" data-bs-toggle="dropdown" data-bs-offset="0,22" aria-haspopup="false" aria-expanded="false">
                            <img src="{{ current_user.avatar }}" width="32" class="rounded-2 d-flex" alt="user-image">
                            <span class="online text-success"><i class="ti ti-circle-filled d-flex bg-white rounded-circle border border-1 border-white"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-md p-2">

                            <div class="d-flex align-items-center bg-light rounded-3 p-2 mb-2">
                                <img src="{{ current_user.avatar }}" class="rounded-circle" width="42" height="42" alt="">
                                <div class="ms-2">
                                    <p class="fw-medium text-dark mb-0">{{current_user.full_name}}</p>
                                    <span class="d-block fs-13">{{current_user.role.name}}</span>
                                </div>
                            </div>

                            <!-- Item-->
                            <!-- <a href="general-settings.html" class="dropdown-item">
                                <i class="ti ti-user-circle me-1 align-middle"></i>
                                <span class="align-middle">Profile Settings</span>
                            </a> -->

                            <!-- item -->
                            <!-- <div class="form-check form-switch form-check-reverse d-flex align-items-center justify-content-between dropdown-item mb-0">
                                <label class="form-check-label" for="notify"><i class="ti ti-bell"></i>Notifications</label>
                                <input class="form-check-input me-0" type="checkbox" role="switch" id="notify">
                            </div> -->

                            <!-- Item-->
                            <!-- <a href="javascript:void(0);" class="dropdown-item">
                                <i class="ti ti-help-circle me-1 align-middle"></i>
                                <span class="align-middle">Help & Support</span>
                            </a> -->

                            <!-- Item-->
                            <a href="general-settings.html" class="dropdown-item">
                                <i class="ti ti-settings me-1 align-middle"></i>
                                <span class="align-middle">Settings</span>
                            </a>

                            <!-- Item-->
                            <div class="pt-2 mt-2 border-top">
                                <a href="login.html" class="dropdown-item text-danger">
                                    <i class="ti ti-logout me-1 fs-17 align-middle"></i>
                                    <span class="align-middle">Sign Out</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!-- Topbar End -->